body {
    background: #f7491e;
    color: #585858;
    font-family: Verdana, Arial, sans-serif;
    font-family: 'Questrial', sans-serif;
    line-height: 1.2em;
    /*text-shadow: rgba(0,0,0,0.5) 0 1px 0;*/
}

a {
    color: #585858;
    text-decoration: none;
    border: 1px solid transparent;
    border-bottom: 1px dashed #585858;
}

a:hover {
    border-bottom: 1px solid #585858;
}

.main-wrapper {
    width: 100%;
    background: white;
}

h1 {
    margin: 0;
    padding: .8em .4em; 
}
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: .8em;
}

h3 {
    color: rgb(213, 46, 46);
}

p {
    margin-top: 0;
    padding: 0 1.1em .8em;
}

.highlight {
    background: #f96d4b;
    margin-left: 1.5em;
    color: #fafafa;
}

/* clear floats */
.group:before,
.group:after {
    content: '';
    display: table;
}

.group:after {
    clear: both;
}

@media (min-width: 768px) {

    body {
        background: #f7491e url(../img/pattern.gif);
    }

    .main-wrapper {
        width: 93.75%;
        margin: 0 auto;
        box-shadow: #333 0 0 10px;
    }

    header {
        background: #f7491e url(../img/header1.jpg) repeat left -200px;
        height: 320px;
        position: relative;
        color: white;
        margin: 0;
    }

    header h1 {
        height: 150px;
        position: absolute;
        bottom: 0;
        left: 0;
        background: transparent url(../img/tendril.png) no-repeat bottom left;
        margin: 0;
        padding: 170px 2% 0 0;
        text-align: right;
        text-transform: lowercase;
        font-size: 3em;
        line-height: 1.3em;
        width: 98%;
        text-shadow: #333 1px 1px 10px;
    }

    .l-grid-1,
    .l-grid-2,
    .l-grid-3,
    .l-grid-4 {
        float: left;
        vertical-align: top;
        zoom: 1;
    }

    .l-grid-1 {
        width: 25%;
    }

    .l-grid-2 {
        width: 50%;
    }

    .l-grid-3 {
        width: 75%;
    }

    .l-grid-4 {
        width: 100%;
    }
}

@media (min-width: 960px) {
    .main-wrapper {
        width: 960px;
    }
}